#Ignore Build , dist and nbProject/private folder
/build/
/dist/
/nbproject/private/

/Sportify-ejb/build/
/Sportify-ejb/dist/
/Sportify-ejb/nbproject/private/

/SportifyLibrary/build/
/SportifyLibrary/dist/
/SportifyLibrary/nbproject/private/


/Sportify-war/build/
/Sportify-war/dist/
/Sportify-war/nbproject/private/


/SportifyClient/build/
/SportifyClient/dist/
/SportifyClient/nbproject/private/
