body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: "Trajan Pro";
    /*    color: #000000;  */
    margin: 10px;
}

h1 {
    font-family: "Trajan Pro";
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
    /*    //color: #045491;*/
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    /*    color: #045491;*/
    color: orange;
    font-weight : bold;
    text-decoration : underline;
}

.logoImage{
    width:230px;
    padding-left:20px;
}

.menuSection{
    margin-left: 280px;
    margin-top: -50px;
}
.home_links{
    margin-left:470px;
    margin-top:-33px;
}

