.products_img_display:hover{
    position: relative !important;
    -webkit-transform: scale(1.5) !important;
    -ms-transform: scale(1.5) !important;
    -o-transform: scale(1.5) !important;
    transform: scale(1.5) !important;
    z-index: 1000 !important;

    -webkit-transition: all 0.5s ease-in-out !important;
    -moz-transition: all 0.5s ease-in-out !important;
    -ms-transition: all 0.5s ease-in-out !important;
    -o-transition: all 0.5s ease-in-out !important;
    transition: all 0.5s ease-in-out !important;

    z-index: 2 !important;
}

.explore_div{
    margin-left: 5px;
}

.ui-widget{
    font-family: "Trajan Pro" !important;
}

.ui-layout-unit{
    border: none !important;
}
.panelForImage{
    width:20px !important;
}
.imagePanel1{
    opacity: 0.4;
    transition: 0.3s ease;
    cursor: pointer;

}
.imagePanel1:hover
{
    transform: scale(1.2,1.2) translateX(50px) ;
    opacity: 1;
}

.textLeague1{
    position: absolute;
    margin-top: 250px;
    margin-left: -274px;
    font-size: 30px;
    font-weight: 1000;
    word-break: break-word;
    cursor: pointer;
}
.textLeague2{
    position: absolute;
    margin-top: 250px;
    margin-left: -265px;
    font-size: 30px;
    font-weight: 1000;
    word-break: break-word;
    cursor: pointer;
}

.textLeague3{
    position: absolute;
    margin-top: 250px;
    margin-left: -270px;
    font-size: 30px;
    font-weight: 1000;
    word-break: break-word;
    cursor: pointer;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.fade-in.two {
  -webkit-animation-delay: 1.0s;
  -moz-animation-delay:1.0s;
  animation-delay: 1.0s;
}

.fade-in.three {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}







