/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 Mar, 2018, 7:16:14 PM
    Author     : David
*/

.ui-widget {
    font-family: 'Abel', serif;
}

.jqplot-axis
{
    color:white !important;
}

.jqplot-xaxis{

    color: orange !important;
}
.jqplot-title{

    color: orange !important;
}


.ui-datatable tbody td{
	border-color:rgb(63,63,72)!important;
        /*background-color: rgb(63,63,72) !important;*/
}

/*.ui-datepicker-calendar{
    display: none;
}​*/


.jqplot-series-canvas {
    /* background: lightgray;*/
}

/*.ui-tabs .ui-tabs-nav li{float:right!important;}
*/


.topCustomerDiv{
   
    /*rgb(140,220,255)*/
    text-align: center !important;
}

.stackbarChartOverview .jqplot-xaxis-tick{
    color:red !important;
    font-size: 14px;
    font-weight: normal;
}

.pieCustomerProduct .jqplot-data-label {
    color:lightgray !important;
    font-size: 14px;
    font-weight: normal;
}

.pieCustomerProduct .jqplot-title{

}
.pieCustomerProduct .table.jqplot-table-legend{
    background-color: transparent;
}

